.grid {
  display: grid;
  overflow: auto;
  height: 100%;
  width: fit-content;
  min-width: 100%;
}

.cornerCell {
  width: 60px;
  min-height: 32px;
  background-color: #f0f0f0;
  border: 1px solid #d0d0d0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
}
