.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 16px;
  color: #666666;
}
